body {
  text-align: center;
}

h1, p {
  color: blue;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  background-color: lightblue;
  padding: 2rem;
}

input {
  padding: 0.6rem;
}

.btn {
  padding: 0.5rem 0.8rem;
  background-color: blue;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

.otpverify {
  display: none;
}